<nav class="navbar navbar-expand-lg navbar-light bg-light custom-nav">

  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
    <span class="navbar-toggler-icon"></span>
  </button><%= link_to "Time Tracker", root_path, class: "navbar-brand" %>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="navbar-nav">
      <li class="nav-item <%= active?(root_path) %>">
         <%= link_to "Home", root_path, class: "nav-link" %>
      </li>
      <% if current_user %>
        <%= render 'shared/employee_nav' if employee? %>

        <%= render 'shared/audit_log_section' if policy(AuditLog).index? %>
        <%= render 'shared/admin_nav' if admin? %>
    </ul>

    <form class="form-inline">
      <input class="form-control mr-sm-2" type="text" />
      <button class="btn btn-primary my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
    <% end %>
  </div>
</nav>
