<!DOCTYPE html>
<html>
  <head>
    <title>TimeTracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <%= render 'shared/nav' %>
          <%= yield %>
        </div>
      </div>
    </div>

    <%= render 'shared/alerts' %>
    <div class="footer">
      
    </div>
  </body>
</html>
